@font-face {
  font-family: "HelveticaNeue-CondensedBold";
  src: url("../fonts/HelveticaNeue-CondensedBold.ttf");
}
@font-face {
  font-family: "HelveticaNeueBold";
  src: url("../fonts/HelveticaNeue-Bold.ttf");
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue.ttf");
}
@font-face {
  font-family: "HelveticaNeueLight";
  src: url("../fonts/HelveticaNeue-Light.ttf");
}
.font-default {
  font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
}
.font-bold {
  font-family: 'HelveticaNeueBold', Helvetica, Arial, sans-serif;
}
.font-con-bold {
  font-family: 'HelveticaNeue-CondensedBoldd', Helvetica, Arial, sans-serif;
}
.font-light {
  font-family: 'HelveticaNeueLight', Helvetica, Arial, sans-serif;
}
