{% extends 'admin.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="col-md-8">
        <a href="{{ path('generate_users') }}" class="btn">
            Сгенерировать пользователей</a>
        <a href="" class="btn">
            Пустой action()</a>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}
