{% extends 'admin.html.twig' %}

{% block body %}
    <h1>Ошибка</h1>

    <br>
    <p>Невозможно прочитать содержимое источника.</p>
    <p>Убедитесь, что ссылка на источник указана правильно.</p>

    <br><br><a class="btn" href="{{ path('admin_feed_source_new') }}">Добавить источник новостей</a>
{% endblock %}
