@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,400");
.modal {
  display: none;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(31, 30, 56, 0.6); }

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 40px;
  padding-top: 101px;
  border: 1px solid #888;
  margin: 0 360px;
  position: relative; }
  .modal-content .kurs-logo {
    position: absolute;
    top: 10px;
    left: 23px; }
  .modal-content .close {
    position: absolute;
    top: 23px;
    right: 23px; }
    .modal-content .close:hover {
      cursor: pointer; }
  .modal-content div {
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 30px;
    height: 24px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.2px;
    text-align: left;
    color: #333333; }
    .modal-content div.address {
      background-image: url(../img/ic-location.png);
      margin-bottom: 8px; }
    .modal-content div.mail {
      height: 32px;
      line-height: 32px;
      display: inline-block;
      background-image: url(../img/ic-mail.png); }
    .modal-content div.phone {
      display: inline-block;
      height: 32px;
      line-height: 32px;
      margin-left: 30px;
      background-image: url(../img/ic-telephone.png); }
  .modal-content h3 {
    font-family: Merriweather;
    font-size: 20px;
    line-height: 1.8;
    letter-spacing: 0.3px;
    text-align: left;
    color: #333333;
    font-weight: normal; }
  .modal-content #map {
    width: 100%;
    height: 240px;
    padding: 0; }

body {
  font-family: 'Roboto', sans-serif; }
  body h1 {
    font-family: 'Merriweather', serif; }
  body a {
    text-decoration: none;
    color: #592e83; }
    body a:hover {
      color: #9558d1;
      border-bottom: 1px solid rgba(89, 46, 131, 0.6); }
  body ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  body .button {
    border-radius: 3px;
    border: solid 1px #592e83;
    padding: 8px 16px; }
    body .button:hover {
      color: white;
      background-color: #592e83; }
  body .back-to-top {
    display: none;
    position: fixed;
    bottom: 24px;
    right: 16px;
    width: 40px;
    height: 40px;
    background: url(../img/ic-scroll-up.png) center center no-repeat; }
    body .back-to-top:hover {
      border: none; }
  body header {
    text-align: center;
    height: 86px; }
    body header .logo {
      position: absolute;
      top: 24px;
      left: 41px; }
      body header .logo:hover {
        border: none; }
    body header nav {
      display: inline-block;
      line-height: 86px;
      margin-left: 100px; }
      body header nav ul li {
        display: inline-block;
        font-size: 16px;
        margin: 0 25px; }
        body header nav ul li a {
          color: black;
          letter-spacing: 0.2px; }
          body header nav ul li a:hover {
            color: #9558d1;
            border-bottom: 1px solid rgba(89, 46, 131, 0.6);
            padding-bottom: 6px; }
        body header nav ul li:last-of-type a {
          color: #592e83;
          border: solid 1px #592e83;
          border-radius: 3px;
          padding: 8px 16px; }
          body header nav ul li:last-of-type a:hover {
            color: white;
            background-color: #592e83;
            border-bottom: 1px solid #9558d1;
            padding-bottom: 6px; }
    body header #select-locale {
      position: absolute;
      top: 34px;
      right: 50px;
      display: inline-block;
      cursor: pointer; }
      body header #select-locale:after {
        margin-left: 3px;
        content: '\25BE'; }
  body .main {
    background: url(../img/group-10.jpg) center center no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    height: 520px; }
    body .main h1 {
      width: 720px;
      margin: 0 auto;
      padding-top: 112px;
      font-size: 36px;
      font-weight: 300;
      line-height: 1.44;
      letter-spacing: 0.5px;
      text-align: center;
      color: #ffffff;
      text-shadow: 0 1px 2px rgba(31, 30, 56, 0.8); }
    body .main p {
      width: 769px;
      margin: 0 auto;
      padding-top: 16px;
      padding-bottom: 24px;
      font-size: 16px;
      line-height: 1.69;
      letter-spacing: 0.2px;
      text-align: center;
      text-shadow: 0 1px 2px rgba(31, 30, 56, 0.8); }
  body .info {
    margin: 0 160px; }
    body .info h1 {
      padding-top: 96px;
      padding-bottom: 64px;
      margin: 0;
      font-size: 32px;
      font-weight: 300;
      line-height: 1.5;
      letter-spacing: 0.5px;
      text-align: center;
      color: #1f1f37; }
    body .info .row:first-of-type {
      border-bottom: 1px solid #d8dbe2; }
    body .info .row div {
      text-align: center;
      border-left: 1px solid #d8dbe2; }
      body .info .row div:first-of-type {
        border-left: none; }
      body .info .row div h2 {
        font-family: Merriweather;
        font-size: 20px;
        line-height: 1.4;
        letter-spacing: 0.3px;
        color: #592e83;
        display: inline-block;
        border-bottom: 1px solid white;
        padding: 0;
        margin-bottom: 0;
        font-weight: normal; }
        body .info .row div h2:hover {
          color: #9558d1;
          border-bottom: 1px solid rgba(89, 46, 131, 0.6);
          box-sizing: border-box;
          cursor: pointer; }
      body .info .row div p {
        font-family: Roboto;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.2px;
        color: #333333;
        padding-bottom: 20px; }
      body .info .row div a:hover {
        border: none; }
    body .info .row:nth-of-type(2) h2 {
      padding-top: 40px; }
  body .advantages {
    padding: 0 160px;
    margin-top: 100px;
    padding-bottom: 50px;
    background-color: rgba(216, 219, 226, 0.4); }
    body .advantages h1 {
      padding-top: 80px;
      padding-bottom: 60px;
      margin: 0;
      font-size: 32px;
      font-weight: 300;
      line-height: 1.5;
      letter-spacing: 0.5px;
      text-align: center;
      color: #1f1f37; }
    body .advantages .row {
      padding-bottom: 25px; }
      body .advantages .row div {
        text-align: center; }
        body .advantages .row div p {
          margin-top: 40px;
          font-size: 16px;
          line-height: 1.5;
          letter-spacing: 0.2px;
          text-align: center;
          color: #333333; }
      body .advantages .row:last-of-type {
        padding-bottom: 50px; }
  body .users {
    padding: 0 160px; }
    body .users h1 {
      padding-top: 80px;
      padding-bottom: 60px;
      margin: 0;
      font-size: 32px;
      font-weight: 300;
      line-height: 1.5;
      letter-spacing: 0.5px;
      text-align: center;
      color: #1f1f37; }
    body .users .row .col-md-4 {
      text-align: center;
      border-left: 1px solid #d8dbe2; }
      body .users .row .col-md-4 img {
        opacity: 0.4;
        filter: grayscale(1);
        max-width: 100%;
        transition: opacity 1s; }
      body .users .row .col-md-4 p {
        margin: 0;
        padding: 0;
        opacity: 0;
        color: #888888;
        letter-spacing: 1.5px;
        position: relative;
        bottom: 30px;
        transition: opacity 0.5s; }
      body .users .row .col-md-4:hover img {
        opacity: 1;
        filter: grayscale(0); }
      body .users .row .col-md-4:hover p {
        opacity: 1; }
      body .users .row .col-md-4:first-of-type {
        border-left: none; }
    body .users .row:first-of-type {
      border-bottom: 1px solid #d8dbe2; }
  body .download {
    margin-top: 100px;
    padding: 0 160px;
    padding-bottom: 100px;
    background-color: rgba(216, 219, 226, 0.4); }
    body .download h1 {
      padding-top: 80px;
      padding-bottom: 10px;
      margin: 0;
      font-size: 32px;
      font-weight: 300;
      line-height: 1.5;
      letter-spacing: 0.5px;
      text-align: center;
      color: #1f1f37; }
    body .download h2 {
      font-weight: normal;
      font-family: Roboto;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.2px;
      text-align: center;
      color: #333333;
      margin: 0;
      padding: 0; }
    body .download nav {
      text-align: center; }
      body .download nav ul {
        margin: 47px 0; }
        body .download nav ul li {
          display: inline-block;
          font-family: Merriweather;
          font-size: 20px;
          line-height: 1.8;
          letter-spacing: 0.3px;
          text-align: center;
          color: #592e83;
          margin: 0 24px; }
          body .download nav ul li a {
            border-bottom: 1px dashed #9558d1;
            padding: 0 16px 6px;
            font-family: Merriweather;
            font-size: 20px;
            line-height: 1.8;
            letter-spacing: 0.3px;
            text-align: center;
            color: #592e83; }
            body .download nav ul li a:hover {
              color: #333333;
              border: none;
              border-radius: 3px;
              background-color: #d8dbe2;
              padding: 16px 16px; }
            body .download nav ul li a.active {
              color: #333333;
              border: none;
              border-radius: 3px;
              background-color: #d8dbe2;
              padding: 16px 16px; }
    body .download .row .col-md-8 .border-div {
      border-right: 1px solid #d8dbe2;
      margin-right: 28px; }
    body .download .stable-version .download-link {
      background: url(../img/ic-download.png) left top no-repeat;
      padding-left: 70px;
      margin-bottom: 30px; }
      body .download .stable-version .download-link a {
        font-size: 18px;
        line-height: 1.44;
        letter-spacing: 0.2px;
        text-align: left; }
      body .download .stable-version .download-link span {
        display: block;
        color: #333333;
        line-height: 1.44; }
      body .download .stable-version .download-link p {
        padding: 0;
        margin: 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.2px;
        text-align: left;
        color: #b5bbc8; }
    body .download .stable-version .code-example h3 {
      margin-top: -7px;
      padding: 0; }
    body .download .stable-version .code-example div {
      position: relative;
      width: 356px;
      height: 178px;
      padding: 0; }
      body .download .stable-version .code-example div .frame {
        font-family: Roboto;
        margin: 0;
        width: 356px;
        height: 178px;
        border-radius: 4px;
        background-color: #ffffff;
        box-shadow: inset 2px 2px 8px 0 rgba(0, 0, 0, 0.1);
        border: solid 1px #d8dbe2;
        color: #333333;
        line-height: 1.5;
        letter-spacing: 0.2px;
        font-size: 16px;
        font-weight: 400;
        padding: 16px;
        resize: none; }
      body .download .stable-version .code-example div button {
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 63px;
        height: 24px;
        border-radius: 3px;
        background-color: rgba(216, 219, 226, 0.4);
        border: solid 1px #d8dbe2;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0.2px;
        text-align: center;
        color: #7f5ea0;
        cursor: pointer; }
    body .download .stable-version h3 {
      font-family: Merriweather;
      font-weight: normal;
      font-size: 20px;
      line-height: 1.8;
      letter-spacing: 0.3px;
      color: #333333;
      margin: 0;
      margin-bottom: 10px; }
    body .download .stable-version ul {
      margin-bottom: 30px; }
      body .download .stable-version ul li a {
        line-height: 2.25;
        letter-spacing: 0.2px; }
        body .download .stable-version ul li a span {
          font-size: 16px;
          line-height: 1.5;
          letter-spacing: 0.2px;
          text-align: left;
          color: #b5bbc8; }
    body .download .source-code {
      display: none; }
      body .download .source-code p {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.2px;
        text-align: center;
        color: #b5bbc8;
        margin-bottom: 32px; }
      body .download .source-code li {
        border-bottom: 1px solid #d8dbe2;
        padding-bottom: 24px; }
        body .download .source-code li:last-of-type {
          border-bottom: none;
          padding-bottom: 0; }
        body .download .source-code li h3 {
          font-family: Merriweather;
          font-size: 17px;
          line-height: 2.12;
          letter-spacing: 0.3px;
          text-align: left;
          color: #333333; }
          body .download .source-code li h3 span {
            font-family: Roboto;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.2px;
            text-align: left;
            color: #b5bbc8;
            font-weight: normal;
            margin-left: 16px; }
        body .download .source-code li a {
          background: url("../img/ic-link.png") left center no-repeat;
          padding-left: 24px;
          margin-right: 36px;
          font-size: 16px;
          line-height: 2.25;
          letter-spacing: 0.2px;
          color: #592e83; }
          body .download .source-code li a:hover {
            background: url("../img/ic-link-hover.png") left 2px no-repeat;
            padding-bottom: 5px; }
  body .news {
    padding: 0 160px;
    text-align: center;
    margin-bottom: 130px;
    margin-top: 60px; }
    body .news .row .col-md-7 h1 {
      font-size: 32px;
      font-weight: 300;
      line-height: 1.5;
      letter-spacing: 0.5px;
      text-align: center;
      color: #1f1f37;
      margin-bottom: 30px; }
    body .news .row .col-md-7 ul {
      margin-bottom: 60px; }
      body .news .row .col-md-7 ul li {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.2px;
        padding-bottom: 23px;
        border-bottom: 1px solid #d8dbe2;
        margin-bottom: 23px;
        text-align: left; }
        body .news .row .col-md-7 ul li .date {
          width: 80px;
          height: 24px;
          border-radius: 3px;
          background-color: #d8dbe2;
          font-family: Merriweather;
          font-size: 11px;
          line-height: 24px;
          letter-spacing: 0.1px;
          text-align: center;
          color: #333333;
          margin-bottom: 9px; }
    body .news .row .col-md-5 form {
      background-color: rgba(216, 219, 226, 0.4);
      margin-top: 60px;
      height: 406px;
      padding-top: 10px;
      border-radius: 4px; }
      body .news .row .col-md-5 form h3 {
        font-family: Merriweather;
        font-size: 24px;
        font-weight: 300;
        line-height: 1.5;
        letter-spacing: 0.4px;
        text-align: center;
        color: #1f1f37;
        max-width: 269px;
        margin: 30px auto; }
      body .news .row .col-md-5 form p:first-of-type {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.2px;
        text-align: center;
        color: #333333;
        padding: 0 90px; }
      body .news .row .col-md-5 form input {
        border-radius: 4px;
        background-color: #ffffff;
        box-shadow: inset 2px 2px 8px 0 rgba(0, 0, 0, 0.1);
        border: solid 1px #d8dbe2;
        padding: 16px;
        width: 384px;
        max-width: 100%;
        background: url(../img/ic-subscribe.png) center right 9px no-repeat;
        background-color: white;
        margin: 20px 0; }
        body .news .row .col-md-5 form input:hover {
          border-color: #9558d1; }
        body .news .row .col-md-5 form input:focus {
          border-color: #592e83;
          outline: none; }
      body .news .row .col-md-5 form p:last-of-type {
        font-size: 14px;
        line-height: 1.43;
        letter-spacing: 0.2px;
        text-align: center;
        color: #c6c9d1; }
        body .news .row .col-md-5 form p:last-of-type a {
          display: inline-block; }
  body footer {
    background-color: #eff1f3;
    height: 180px;
    text-align: center;
    padding-top: 24px; }
    body footer p:first-of-type {
      font-size: 14px;
      line-height: 1.43;
      letter-spacing: 0.2px;
      text-align: center;
      color: rgba(51, 51, 51, 0.4); }
    body footer p:last-of-type {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.2px;
      text-align: center;
      color: #333333; }
      body footer p:last-of-type span {
        color: #592e83;
        cursor: pointer; }
        body footer p:last-of-type span:hover {
          color: #9558d1;
          border-bottom: 1px solid rgba(89, 46, 131, 0.6); }

/*# sourceMappingURL=main.css.map */
