/*--------------------------
*        TABLE
*-------------------------*/
.table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}
.table th {
  color: #000000;
}
.table tr {
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 2px solid #EEEEEE;
}
.table td {
  padding: 8px;
}
.table-staff th:first-child {
  width: 200px;
}
.table-staff td {
  padding: 20px;
}
.table-striped th {
  border-top: 2px solid #EDEDED;
  border-bottom: 2px solid #EDEDED;
  line-height: 22px;
  padding: 10px 20px;
  background: #fff;
}
.table-striped tr:nth-child(odd) {
  background: #EEEEEE;
}
table.detail-view th {
  width: 150px;
}
table.detail-view tr:last-child {
  border-bottom: 2px solid #EDEDED;
}
