html,
body {
  border: 0;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
@font-face {
  font-family: "HelveticaNeue-CondensedBold";
  src: url("../fonts/HelveticaNeue-CondensedBold.ttf");
}
@font-face {
  font-family: "HelveticaNeueBold";
  src: url("../fonts/HelveticaNeue-Bold.ttf");
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue.ttf");
}
@font-face {
  font-family: "HelveticaNeueLight";
  src: url("../fonts/HelveticaNeue-Light.ttf");
}
.font-default {
  font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
}
.font-bold {
  font-family: 'HelveticaNeueBold', Helvetica, Arial, sans-serif;
}
.font-con-bold {
  font-family: 'HelveticaNeue-CondensedBoldd', Helvetica, Arial, sans-serif;
}
.font-light {
  font-family: 'HelveticaNeueLight', Helvetica, Arial, sans-serif;
}
.clear:after {
  display: table;
  clear: both;
  content: " ";
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/**
 * Medium Screens
 */
@media (min-width: 240px) {
  .container {
    width: 750px;
  }
  .content {
    margin-top: 30px;
  }
  .main-header {
    position: fixed;
    width: 100%;
    z-index: 2;
  }
  .main-sidebar {
    -webkit-transform: translate(-205px, 0);
    -ms-transform: translate(-205px, 0);
    -o-transform: translate(-205px, 0);
    transform: translate(-205px, 0);
  }
  .main-sidebar.open {
    -webkit-transform: translate(0, 0) !important;
    -ms-transform: translate(0, 0) !important;
    -o-transform: translate(0, 0) !important;
    transform: translate(0, 0) !important;
  }
  .main-sidebar.open .menu-trigger {
    right: 0;
    border-radius: 5px 0 0 5px;
  }
  .main-sidebar.open .menu-trigger:after {
    content: '\2039';
    line-height: 26px;
  }
  .main-sidebar.collapse {
    -webkit-transform: translate(-205px, 0);
    -ms-transform: translate(-205px, 0);
    -o-transform: translate(-205px, 0);
    transform: translate(-205px, 0);
  }
  .main-sidebar.collapse .menu-trigger {
    right: -17px !important;
    border-radius: 0 5px 5px 0 !important;
  }
  .main-sidebar.collapse .menu-trigger:after {
    content: '\203A' !important;
    line-height: 26px !important;
  }
  .content-wrapper {
    padding-left: 0;
  }
  .menu-trigger {
    right: -17px;
    border-radius: 0 5px 5px 0;
  }
  .menu-trigger:after {
    content: '\203A';
    line-height: 26px;
  }
  .info-box li > span {
    display: none;
  }
}
@media (min-width: 770px) {
  .info-box {
    text-align: center;
    margin-top: 10px;
    line-height: 20px;
  }
  .info-box li > span {
    display: block;
  }
}
/**
 * Large Screens
 */
@media (min-width: 961px) {
  .main-sidebar {
    display: block;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .main-sidebar.collapse + .content-wrapper {
    padding-left: 0;
  }
  .content-wrapper {
    padding-left: 210px;
  }
  .main-header {
    position: relative;
  }
  .menu-trigger {
    right: 0;
    border-radius: 5px 0 0 5px;
  }
  .menu-trigger:after {
    content: '\2039';
    line-height: 26px;
  }
}
@media (min-width: 1200px) {
  .info-box {
    margin-top: 0;
    line-height: inherit;
  }
  .info-box li > span {
    display: inline-block;
  }
  .container {
    width: 1170px;
  }
}
.main-sidebar {
  background-color: #303030;
  position: fixed;
  top: 0;
  padding-top: 20px;
  min-height: 100%;
  width: 210px;
  z-index: 810;
}
.sidebar {
  margin-top: 30px;
}
.sidebar-menu,
.main-sidebar .sidebar-menu > li.header {
  white-space: nowrap;
  overflow: hidden;
}
.menu-trigger {
  position: fixed;
  width: 17px;
  height: 35px;
  border: 1px solid #000;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.5);
  z-index: 5;
  background: #303030;
  color: #fff;
  font-size: 34px;
  text-align: center;
}
.main-sidebar,
.menu-trigger {
  -webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}
.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 3px solid #181818;
}
.sidebar-menu li {
  position: relative;
  margin: 0;
}
.sidebar-menu li > a {
  padding: 8px 5px 8px 15px;
  text-indent: 10px;
  display: block;
  border-left: 3px solid #303030;
}
.sidebar-menu li:hover > a {
  background: #181818;
  border-left: 3px solid #02b0d2;
}
.sidebar-menu li.header {
  padding: 10px 25px 10px 15px;
}
.sidebar-menu li.header,
.sidebar-menu li a {
  color: #fff;
}
.sidebar-menu li.active > a {
  background: #181818;
  border-left: 3px solid #ed5c58;
}
.tab-content {
  z-index: 2;
  opacity: 0;
  text-align: left;
  padding: 15px;
  position: absolute;
  box-sizing: border-box;
  left: 0;
}
.tabs {
  list-style-type: none;
  padding: 0;
  margin-bottom: -1px;
  z-index: 3;
}
.tabs:after {
  display: table;
  clear: both;
  content: " ";
}
.tabs li {
  background: #F2F2F2;
  border: 1px solid #e3e3e3;
  border-radius: 3px 3px 0 0;
  color: #4A90E2;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 14px;
  padding: 5px 20px;
  margin-right: 10px;
  font-family: 'HelveticaNeueBold', Helvetica, Arial, sans-serif;
}
.tabs li:hover {
  color: #000;
}
.tabs li.active {
  background: #fff;
  color: #000;
  margin-bottom: -1px;
  border-bottom-color: #fff;
}
.tab {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid #e3e3e3;
  z-index: 1;
  margin-bottom: 20px;
}
.tab li {
  display: none;
  padding: 18px;
}
.tab li.active {
  display: block;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px;
  line-height: normal;
}
input[type="password"],
input[type="text"],
select {
  height: 28px;
}
input[type="file"] {
  display: block;
}
input[type="range"] {
  display: block;
  width: 100%;
}
.form {
  margin: 10px auto;
}
.form-group {
  margin-bottom: 15px;
}
.form-group.error label {
  color: #D0021B;
}
.form-group.error .error-msg {
  color: #acaea9;
  font-size: 12px;
  line-height: 24px;
}
.form-group.error .form-control {
  border: 1px solid #D0021B;
  box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.5);
}
.form-group.error .form-control:focus {
  border: 1px solid #D0021B;
  outline: 1px solid rgba(208, 4, 29, 0.5);
  box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.5);
}
.form-horizontal {
  margin-bottom: 20px;
}
.form-horizontal label {
  text-align: right;
  font-weight: normal;
}
.form-horizontal .form-group {
  padding: 0 10px;
  min-height: 28px;
}
.form-control {
  background-color: #FFFFFF;
  border: 1px solid #979797;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding-left: 8px;
  line-height: 20px;
  width: 100%;
}
.form-control:focus {
  border: 1px solid #4A90E2;
  box-shadow: inset 0 1px 5px 0 #4A90E2;
}
.input-field {
  margin-bottom: 15px;
}
.login {
  background: #fff;
  text-align: left;
  border-radius: 3px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin-top: 40px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:after {
  display: table;
  clear: both;
  content: " ";
}
.row:after {
  display: table;
  clear: both;
  content: " ";
}
[class*="col-sm-"],
[class*="col-md-"],
[class*="col-lg-"] {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  [class*="col-sm-"] {
    float: left;
  }
  [class*="label-"] .label {
    text-align: right;
  }
  [class*="label-"] .label,
  [class*="control-"] .form-control {
    float: left;
    padding-right: 8px;
  }
  .col-sm-12,
  .label-12 .label,
  .control-12 .form-control {
    width: 100%;
  }
  .col-sm-11,
  .label-11 .label,
  .control-11 .form-control {
    width: 91.66666667%;
  }
  .col-sm-10,
  .label-10 .label,
  .control-10 .form-control {
    width: 83.33333333%;
  }
  .col-sm-9,
  .label-9 .label,
  .control-9 .form-control {
    width: 75%;
  }
  .col-sm-8,
  .label-8 .label,
  .control-8 .form-control {
    width: 66.66666667%;
  }
  .col-sm-7,
  .label-7 .label,
  .control-7 .form-control {
    width: 58.33333333%;
  }
  .col-sm-6,
  .label-6 .label,
  .control-6 .form-control {
    width: 50%;
  }
  .col-sm-5,
  .label-5 .label,
  .control-5 .form-control {
    width: 41.66666667%;
  }
  .col-sm-4,
  .label-4 .label,
  .control-4 .form-control {
    width: 33.33333333%;
  }
  .col-sm-3,
  .label-3 .label,
  .control-3 .form-control {
    width: 25%;
  }
  .col-sm-2,
  .label-2 .label,
  .control-2 .form-control {
    width: 16.66666667%;
  }
  .col-sm-1,
  .label-1 .label,
  .control-1 .form-control {
    width: 8.33333333%;
  }
  .col-offset-xs-12 {
    margin-left: 100%;
  }
  .col-offset-xs-11 {
    margin-left: 91.66666667%;
  }
  .col-offset-xs-10 {
    margin-left: 83.33333333%;
  }
  .col-offset-xs-9 {
    margin-left: 75%;
  }
  .col-offset-xs-8 {
    margin-left: 66.66666667%;
  }
  .col-offset-xs-7 {
    margin-left: 58.33333333%;
  }
  .col-offset-xs-6 {
    margin-left: 50%;
  }
  .col-offset-xs-5 {
    margin-left: 41.66666667%;
  }
  .col-offset-xs-4 {
    margin-left: 33.33333333%;
  }
  .col-offset-xs-3 {
    margin-left: 25%;
  }
  .col-offset-xs-2 {
    margin-left: 16.66666667%;
  }
  .col-offset-xs-1 {
    margin-left: 8.33333333%;
  }
  .col-offset-xs-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  [class*="col-md-"] {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-offset-md-12 {
    margin-left: 100%;
  }
  .col-offset-md-11 {
    margin-left: 91.66666667%;
  }
  .col-offset-md-10 {
    margin-left: 83.33333333%;
  }
  .col-offset-md-9 {
    margin-left: 75%;
  }
  .col-offset-md-8 {
    margin-left: 66.66666667%;
  }
  .col-offset-md-7 {
    margin-left: 58.33333333%;
  }
  .col-offset-md-6 {
    margin-left: 50%;
  }
  .col-offset-md-5 {
    margin-left: 41.66666667%;
  }
  .col-offset-md-4 {
    margin-left: 33.33333333%;
  }
  .col-offset-md-3 {
    margin-left: 25%;
  }
  .col-offset-md-2 {
    margin-left: 16.66666667%;
  }
  .col-offset-md-1 {
    margin-left: 8.33333333%;
  }
  .col-offset-md-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  [class*="col-lg-"] {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-offset-lg-12 {
    margin-left: 100%;
  }
  .col-offset-lg-11 {
    margin-left: 91.66666667%;
  }
  .col-offset-lg-10 {
    margin-left: 83.33333333%;
  }
  .col-offset-lg-9 {
    margin-left: 75%;
  }
  .col-offset-lg-8 {
    margin-left: 66.66666667%;
  }
  .col-offset-lg-7 {
    margin-left: 58.33333333%;
  }
  .col-offset-lg-6 {
    margin-left: 50%;
  }
  .col-offset-lg-5 {
    margin-left: 41.66666667%;
  }
  .col-offset-lg-4 {
    margin-left: 33.33333333%;
  }
  .col-offset-lg-3 {
    margin-left: 25%;
  }
  .col-offset-lg-2 {
    margin-left: 16.66666667%;
  }
  .col-offset-lg-1 {
    margin-left: 8.33333333%;
  }
  .col-offset-lg-0 {
    margin-left: 0%;
  }
}
.clear:after {
  display: table;
  clear: both;
  content: " ";
}
.row .row {
  padding: 0;
}
a {
  color: #4A90E2;
  text-decoration: none;
}
a:hover {
  color: #ed5c58;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: inherit;
}
h1 {
  font-family: 'HelveticaNeue-CondensedBoldd', Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 110%;
  margin: 12px 0 9.6px 0;
  color: #000;
}
h2 {
  font-family: 'HelveticaNeue-CondensedBoldd', Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 110%;
  margin: 10px 0 8px 0;
  color: #000;
}
h3 {
  font-family: 'HelveticaNeue-CondensedBoldd', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 110%;
  margin: 9px 0 7.2px 0;
  color: #444;
}
h4 {
  font-family: 'HelveticaNeue-CondensedBoldd', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 110%;
  margin: 8px 0 6.4px 0;
  color: #444;
}
h5 {
  font-family: 'HelveticaNeue-CondensedBoldd', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 110%;
  margin: 7px 0 5.6px 0;
  color: #444;
}
h6 {
  font-family: 'HelveticaNeue-CondensedBoldd', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 110%;
  margin: 7px 0 5.6px 0;
  color: #444;
}
.annotation {
  margin: 20px 0;
}
.title-annotation,
.table th {
  font-family: 'HelveticaNeue-CondensedBoldd', Helvetica, Arial, sans-serif;
}
.spoiler-action {
  font-family: 'HelveticaNeueBold', Helvetica, Arial, sans-serif;
}
.title-annotation {
  font-size: 14px;
  color: #444;
  line-height: 16px;
  margin-bottom: 5px;
}
.body-annotation {
  font-family: 'HelveticaNeueLight', Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #999;
  line-height: 18px;
}
body {
  font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #444444;
  line-height: 20px;
}
.icon {
  background-image: url(../i/spritesheet.png);
  background-repeat: no-repeat;
  display: inline-block;
}
.icon-add {
  width: 28px;
  height: 28px;
  background-position: -5px -5px;
}
.icon-add-2x {
  width: 56px;
  height: 56px;
  background-position: -43px -5px;
}
.icon-arrows {
  width: 12px;
  height: 11px;
  background-position: -109px -5px;
}
.icon-arrows-2x {
  width: 24px;
  height: 22px;
  background-position: -131px -5px;
}
.icon-docs {
  width: 28px;
  height: 28px;
  background-position: -109px -37px;
}
.icon-docs-2x {
  width: 56px;
  height: 56px;
  background-position: -5px -75px;
}
.icon-edit {
  width: 28px;
  height: 28px;
  background-position: -147px -37px;
}
.icon-edit-2x {
  width: 56px;
  height: 56px;
  background-position: -71px -75px;
}
.icon-edit-small {
  width: 20px;
  height: 20px;
  background-position: -137px -75px;
}
.icon-edit-small-2x {
  width: 40px;
  height: 40px;
  background-position: -137px -105px;
}
.icon-graph {
  width: 28px;
  height: 28px;
  background-position: -185px -5px;
}
.icon-graph-2x {
  width: 56px;
  height: 56px;
  background-position: -5px -155px;
}
.icon-statistics {
  width: 28px;
  height: 28px;
  background-position: -185px -43px;
}
.icon-statistics-2x {
  width: 56px;
  height: 56px;
  background-position: -71px -155px;
}
/*--------------------------
*        TABLE
*-------------------------*/
.table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}
.table th {
  color: #000000;
}
.table tr {
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 2px solid #EEEEEE;
}
.table td {
  padding: 8px;
}
.table-staff th:first-child {
  width: 200px;
}
.table-staff td {
  padding: 20px;
}
.table-striped th {
  border-top: 2px solid #EDEDED;
  border-bottom: 2px solid #EDEDED;
  line-height: 22px;
  padding: 10px 20px;
  background: #fff;
}
.table-striped tr:nth-child(odd) {
  background: #EEEEEE;
}
table.detail-view th {
  width: 150px;
}
table.detail-view tr:last-child {
  border-bottom: 2px solid #EDEDED;
}
/*--------------------------
*        BUTTONS
*-------------------------*/
.btn {
  background: #FFFFFF;
  border: 1px solid #979797;
  border-radius: 4px;
  color: #4A90E2;
  padding: 6px 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
.btn:hover {
  background: #F4F4F4;
  border: 1px solid #4A90E2;
  color: #4A90E2;
}
.btn:active {
  background: #F4F4F4;
  border: 1px solid #979797;
  color: #D0021B;
}
.btn:disabled {
  background: #F4F4F4;
  border: 1px solid #979797;
  color: #AAAAAA;
  cursor: not-allowed;
}
.tooltip {
  border-bottom: 1px dotted #0077AA;
  cursor: help;
}
.tooltip::after {
  color: #000;
  content: attr(data-tooltip);
  margin-top: 35px;
  margin-left: -100px;
  opacity: 0;
  padding: 5px;
  position: absolute;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
}
.tooltip:hover::after {
  opacity: 1;
  visibility: visible;
}
.spoiler {
  border: 1px solid #e8e8e8;
  margin: 20px 0;
}
.spoiler-action {
  display: block;
  background-color: #f4f4f4;
  color: #6391c4;
  padding: 10px 10px;
  cursor: pointer;
}
.spoiler-action:after {
  content: ' +';
}
.spoiler-action.active {
  background-color: #fff;
}
.spoiler-action.active:after {
  content: ' -';
}
.spoiler-body {
  display: none;
  padding: 5px 5px;
}
@keyframes menu-show {
  0% {
    left: -193px;
  }
  100% {
    left: 0;
  }
}
@keyframes menu-hide {
  0% {
    left: 0;
  }
  100% {
    left: -193px;
  }
}
.margin-bottom-lg {
  margin-bottom: 30px;
}
.border-bottom {
  border-bottom: 2px solid #EDEDED;
  padding-bottom: 5px;
}
.logo {
  background: url(../i/logo.png) no-repeat -139px -5px;
  width: 124px;
  height: 61px;
  display: block;
  margin: 0 auto;
  -webkit-transition: background-image 2s ease-in-out;
  -moz-transition: background-image 2s ease-in-out;
  -o-transition: background-image 2s ease-in-out;
  transition: background-image 2s ease-in-out;
}
.logo:hover {
  background-position: -5px -5px;
}
.right {
  float: right !important;
}
.left {
  float: right !important;
}
.text-center {
  text-align: center;
}
.fix:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.inner {
  display: inline-block;
  vertical-align: middle;
}
.content {
  padding: 30px 20px;
}
.fix-center {
  z-index: -1;
}
.content-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.6s ease-in-out, width 0.6s ease-in-out;
  -moz-transition: -moz-transform 0.6s ease-in-out, width 0.6s ease-in-out;
  -o-transition: -o-transform 0.6s ease-in-out, width 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, width 0.6s ease-in-out;
}
/*--------------------------
*        HEADER
*-------------------------*/
.main-header {
  position: relative;
  background-color: #fff;
  line-height: 55px;
}
.main-header:after {
  content: " ";
  display: table;
  clear: both;
}
.profile-bar {
  float: right;
  display: inline-block;
}
nav ul {
  float: left;
  list-style-type: none;
}
nav ul li {
  float: left;
  padding: 0 10px;
  display: inline;
}
/*--------------------------
*        CARD
*-------------------------*/
.card {
  border-radius: 3px;
  width: 100%;
  min-height: 30px;
  padding: 10px;
}
.card ul {
  margin-left: 20px;
  padding-bottom: 20px;
}
.card ul li.active a {
  cursor: default;
  color: #000000;
  font-weight: bold;
}
/*--------------------------
*        COLORS
*-------------------------*/
.gray {
  background-color: #f4f4f4;
}
/*--------------------------
*        AVA
*-------------------------*/
.circle {
  border-radius: 50%;
}
.avatar {
  padding: 5px;
}
.avatar .btn {
  margin-top: 20px;
}
.avatar-image {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border: 5px solid #fff;
}
.center {
  display: block;
  margin: 0 auto;
}
