[defaults]
hostfile=inventory
remote_user=ponomarev
host_key_checking=False
private_key_file=~/ponomarev
forks=20

[privilege_escalation]
become = True
become_method=sudo
become_user=root


[ssh_connection]
ssh_args = -o ControlMaster=no
retries = 2
# ssh arguments to use
# Leaving off ControlPersist will result in poor performance, so use 
# paramiko on older platforms rather than removing it
#ssh_args = -o ControlMaster=auto -o ControlPersist=60s